.appView {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.controllers {
  display: flex;
  flex-direction: row;
  background-color: #000;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 10px 0;
  padding: 10px 0 max(env(safe-area-inset-bottom), 10px);
}
