.pickerContainer {
  position: absolute;
  bottom: 90%;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.container {
  position: relative;
}

.button {
  height: 25px;
  width: 100px;
  appearance: none;
  border: solid 2px #fff;
  border-radius: 3px;
}

.buttonLabel,
.labelText,
.labelHex {
  display: block;
  text-align: center;
}

.labelText {
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 5px;
}

.labelHex {
  font-size: 14px;
  line-height: 15px;
  margin-top: 5px;
  font-style: normal;
  letter-spacing: 0.2px;
}
